body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* General styles */
  body {
    font-family: 'Sofia', sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 3px #ababab;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px 0;
  }
  
  section {
    padding: 50px 0;
  }
  
  section h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }